/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep
/public/assets
/config/master.key
/coverage
*.swp
.DS_Store
/vendor/bundle
.env
.env.local
